html, body, main {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #343a40;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
  font-size: 1.125rem;
}

.leaflet-tooltip.feature-label {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 0 2px black;
  color: white;
}

#clickInstruct {
  font-size: .75rem;
}



.radioText {
  font-size: 1.125rem;
}
#sat-tab{
  font-size: 1.125rem;
}
#sat-button{
  font-size: 1.125rem;
}

button {
  font-size: small;
}
.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1em;
}
#deck-3 .c3-chart-lines {
  stroke-width: 5px !important;
}

.donutRange {
  font-size: 12px;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat white;
  opacity: 1;
}

div#footer>div {
  margin-bottom: 10px
}

#demo {
  font-size: 14px
}

#demo>h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 16px
}

#demo>li {
  /* padding: 5px; */
  margin-left: 10px;
  line-height: 20px;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  /* top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
  margin: 0;
  background: #fff; */
  font-family: 'Titillium Web', sans-serif;
}

.leaflet-control-layers {
  color: white !important;
  background-color: none;
  padding: 6px 8px;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

.leaflet-control-zoom, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: white !important;
  padding: 0px !important;
  background-color: none;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

.c3-legend-background {
  fill: transparent;
  stroke: transparent;
}

#spline-chart .c3-line {
  stroke-width: 5px;
}

#info {
  position: absolute;
  height: 100%;
  width: 34%;
  /* top: 1%;
  bottom: 1%;
  left: .5%; */
  z-index: 1000;
  background: #343a40;
  color: white;
  opacity: 1;
  padding: 0px 15px 0px 15px;
  overflow-x: hidden;
}

#openBar {
  position: absolute;
  width: 34%;
  padding: 0px 15px 0px 15px;
  /* top: 1%;
  left: 1%; */
  /* font-size: 3rem; */
  z-index: 999;
  opacity: .9;
}

#infoMap {
  position: absolute;
  height: 100%;
  width: 100%;
  /* left: 66%; */
  z-index: 998;
  background: #343a40;
  color: white;
  opacity: 1;
  /* padding-right: 1%; */
  overflow-x: hidden;
  overflow-y: hidden;
}

#infoMapOpen {
  position: absolute;
  height: 100%;
  width: 100%;
  /* left: 66%; */
  z-index: 998;
  background: #343a40;
  color: white;
  opacity: 1;
  /* padding-right: 1%; */
  overflow-x: hidden;
  overflow-y: hidden;
}

#infoMapLegend {
  position: absolute;
  /* height: 100%; */
  width: 400px;
  bottom: 2%;
  right: .5%;
  z-index: 1000;
  background: transparent;
  color: white;
  opacity: .8;
  padding: 0px 15px 0px 15px;
  overflow-x: hidden;
}

.card-deck .card {
  background: #343a40;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.card {
  border-radius: 0rem;
}

.card-body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-text {
  font-size: 33px !important
}

.card-title {
  color: lightgray;
  font-size: 14px;
  margin-bottom: 0rem;
  font-weight: bold;
}

.greyBackground{
  background-color: grey;
}
/* #legend-panel {
  position: fixed;
  bottom: 180px;
  right: 20px;
  width: 300px;
  height: 20px;
  z-index: 1000;
  background: #343a4000;
} */
#sat-data-panel {
  position: fixed;
  bottom: 325px;
  right: 23px;
  width: 20%;
  height: 20px;
  z-index: 1000;
  opacity: .8;
  color: white;
}

#sat-button {
  position:  absolute;
  bottom: 16px;
  right: 25px;
  /* width: 400px; */
  /* height: 20px; */
  z-index: 998;
  opacity: .8;
  color: white;
}


#openBar a {
  color: white;
}

#fa-chevron-circle-right:hover {
  opacity: .6;
  cursor: pointer;
}

.fas fa-satellite {
  color: white;
}

.counts {
  margin-top: 0px;
}

.legend .card {
  background: #343a40;
  padding: 0;
}

.legend . -title {
  font-size: 13px;
  /* text-align: left; */
  /* padding-left: 4px; */
  /* background: #343a4000; */
}

.card-text {
  font-size: 40px;
  text-align: center;
  /* background: #343a4000; */
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}

#title {
  /* margin-bottom: 30px; */
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
}

span {
  margin-right: 10px;
}

#info a {
  color: white;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#dashTitle {
  font-size: calc(.75vw + .75vh + .25vmin);
}

#date {
  font-size: calc(.5vw + .5vh + .25vmin);
  /* position: relative; */
  text-align: right;
  display: flex;
  justify-content: right;
}

#placename {
  font-size: calc(1vw + 1vh + .5vmin);
  position: relative;
  text-align: center;
  /* top: 1px; */
  /* font-family: 'Oswald', sans-serif; */
}

#hint {
  position: relative;
  top: -20px;
  width: 5000px;
  color: gray;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
  left: -10px;
}

.counts {
  margin-top: 0px;
}

text {
  fill: white
}
#spline-chart > svg > g:nth-child(2) > g.c3-axis.c3-axis-y > text {
  fill: #1f77b4;
    font-size: 13px;
}
#spline-chart > svg > g:nth-child(2) > g.c3-axis.c3-axis-y2 > text {
  fill: #de2d26;
  font-size: 13px;
}

#spline-chart > svg > g:nth-child(2) > g.c3-grid.c3-grid-lines > g.c3-xgrid-lines > g:nth-child(1) > line {
    stroke: #17e8ce;
}

#spline-chart > svg > g:nth-child(2) > g.c3-grid.c3-grid-lines > g.c3-xgrid-lines > g:nth-child(2) > line {
  stroke: #ff7f0e;
}
.tick line {
  stroke: gray;
}

.c3-axis path {
  stroke: gray;
}

.c3-bar {
  /* fill: #dc3545 !important; */
}

.name {
  background-color: black;
  color: black
}

.value {
  background-color: black;
  color: black
}

#gage-chart {
  margin-top: -170px;
  z-index: 0;
}

#precipSub-chart {
  margin-top: -170px;
  z-index: 0;
}
#precipSumSub-chart {
  margin-top: -170px;
  z-index: 0;
}

#sampleSub-chart {
  margin-top: -170px;
  z-index: 0;
}

#gage-subChart {
  top: 10px;
  /* left: -20px; */
}

.frontSub {
  z-index: 1000;
}
.frontFrontSub {
  z-index: 1001;
}
.radioselect {
    margin: auto;
    margin-top: 1%;
}


.c3-axis-y-label {
  font-size: .75rem;
}

/* #agegroup-chart>div>table>tbody>tr>td>span {
  background-color: #dc3545 !important
} */
#footer {
  position: relative;
  top: 40px;
  bottom: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
  margin-bottom: 50px;
}

#footer>div {
  font-size: 13px;
}

#stateButton {
  font-size: 70% !important;
  width: 150px;
}

.virusImg {
  width: auto;
  text-align: center;
  padding: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 100%;
  color: white;
}

/* .textLabelclass a {
  white-space: nowrap;
  font-size: 10px;
  color: brown !important;
} */
.slidecontainer {
  width: 90%;
  margin-right: -.75rem;
  margin-left: -.75rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 25px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: grey;
  background: white;
  cursor: pointer;
}

.datePickerTitle {
  text-align: left;
  padding-right: 10px;
  font-size: 30px;
}

.infoTab {
  text-align: right;
  /* padding-top: 1.3%;
padding-left: 4%; */
  font-size: 1.3;
}
.timeTitle {
  text-align: left;
  padding-right: 10px;
  font-size: 15px;
}

.card {
  border: 0px;
}

.fa-tachometer-alt:hover {
  opacity: 0.3;
}

.map {
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 1.5rem;
}

.fa-vials:hover {
  opacity: 0.3;
}

/* .map .fa-vials {
  color: orange;
  font-size: 2rem;
  position: absolute;
  border: 5px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0.8;
  text-shadow: 1px 1px 1px black;
} */
.blinking {
  animation: fade 1s infinite alternate;
}

.tabIcon {
  color: #343a40;
}

.hexbin-hexagon {
  stroke: #000;
  stroke-width: .5px;
}

.hexbin-container:hover .hexbin-hexagon {
  transition: 200ms;
  stroke: white;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.hexbin-tooltip {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
}

.dropdown {
  /* float: right; */
  background-color: grey;
}

.dropdown-menu {
  background-color: grey;
}

.dropdown-item:hover {
  background-color: grey;
  color: white;
}

.dropdownTitle {
  font-size: calc(.3vw + .3vh + .13vmin);
  position: relative;
  text-align: center;
}

.nav-link {
  /* background-color: white; */
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: grey;
}

.tabInfo {
  background-color: grey !important;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: left;
  /* border-radius: 3%; */
}
.infoTab {
  margin-right: 10px;
}
#deck-2>div.card.col-lg-11 {
  background-color: grey !important;
}

#d0 {
  background: grey;
  color: white;
}
.legend-options {
  width: 100%;
}
.checkbox {
  color: white;
}

label {
  margin-bottom: 0;
}

.c3-legend-item {
  pointer-events: none;
}

.c3-legend-background {
  z-index: 1000;
}

.fa-plus-circle:HOVER {
  opacity: 30%;
  cursor: pointer;
}

.fa-minus-circle:HOVER {
  opacity: 30%;
  cursor: pointer;
}

#gageSubChartDeck {
  /* margin-bottom: 0px; */
}

/* #gageYearSelect {
  font-size: .85rem;
} */
.darkBackground {
  background-color: #343a40;
}

.greyBackground {
  background-color: grey;
}

.dropdownTitle {
  color: white;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:HOVER {
  opacity: 30% !important;
  cursor: pointer;
}

#wrapper {
  background-color: #343a40;
}

#content {
  background-color: #343a40;
}

.fa-info-circle {
  color: white;
}

.fa-info-circle:hover {
  opacity: 30%;
  cursor: pointer;
}

.navbarIcon {
  color: white;
  font-size: 26px;
}

.navbarIcon:hover {
  opacity: 30%;
  cursor: pointer;
}
.tooltiptext:hover {
  opacity: 100%;
  cursor: pointer;
}

.navbar-nav span {
  margin-left: 10px;
}

#wrapper #content-wrapper {
  background-color: #343a40;
}

#info>div.simplebar-wrapper>div.simplebar-mask>div>div>div {
  padding: 0px 0px 0px;
}

.container-fluid {
  padding-left: 0rem;
}

label:HOVER {
  cursor: pointer;
  opacity: 30%;
}

#myMapTab {
  right: 20px;
}

#myMapTabButton {
  right: 20px;
}

#imgLogo img {
  height: 65px;
}

.c3 path {
  stroke: grey;
}

.tooltip {
  opacity: 1;
}

.tooltiptext {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  top: 100%;
  right: 50%;
  visibility: hidden;
  line-height: 150%;
  width: 200px;
  margin-left: -170px;
  margin-bottom: 5px;
  /* background-color: green; */
  color: white;
  text-align: center;
  border-radius: 2px;
  position: absolute;
}

#placenameClosed {
  color: white;
  font-size: calc(1vw + 1vh + .5vmin);
  position: relative;
  text-align: center;
}

.slidecontainer P {
  color: white;
  font-size: calc(.5vw + .5vh + .125vmin);
  position: relative;
  text-align: center;
}

.labelSize {
  width: 12.5%;
}

.labelSize p {
    font-size: 14px;
}
.sliderSize {
  width: 75%
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* .card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -.75rem;
  margin-left: -.75rem;
} */


.fa-chevron-circle-left {
  color: white;
  font-size: 26px;
}
.mbsc-padding.md-header {
    font-size: 1.25em;
    font-weight: 400;
    padding: .8em .8em .4em .8em;
}

.md-dateslider .mbsc-padding {
    text-align: center;
}

.md-check-cont {
    padding: 8px 0 16px 0;
}

.md-check {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 26px;
    padding: .2em;
    line-height: 23px;
    border-radius: 33px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (max-width: 1710px) {
  /* For smaller screens: */
  #info {
    position: absolute;
    height: 100%;
    width: 550px;
    /* top: 1%;
    bottom: 1%;
    left: .5%; */
    z-index: 1000;
    background: #343a40;
    color: white;
    opacity: 1;
    padding: 0px 15px 0px 15px;
    overflow-x: hidden;
  }

  #openBar {
    position: absolute;
    width: 520px;
    padding: 0px 15px 0px 15px;
    /* top: 1%;
    left: 1%; */
    /* font-size: 3rem; */
    z-index: 999;
    opacity: .9;
  }



}

@media only screen and (max-width: 1250px) {
  /* For smaller screens: */
  #info {
    position: absolute;
    height: 100%;
    width: 520px;
    /* top: 1%;
    bottom: 1%;
    left: .5%; */
    z-index: 1000;
    background: #343a40;
    color: white;
    opacity: 1;
    padding: 0px 15px 0px 15px;
    overflow-x: hidden;
  }

  #openBar {
    position: absolute;
  width: 520px;
    padding: 0px 15px 0px 15px;
    /* top: 1%;
    left: 1%; */
    /* font-size: 3rem; */
    z-index: 999;
    opacity: .9;
  }

}

@media only screen and (max-width: 1002px) {
  /* For smaller screens: */
  #info {
    position: absolute;
    height: 100%;
  width: 520px;
    /* top: 1%;
    bottom: 1%;
    left: .5%; */
    z-index: 1000;
    background: #343a40;
    color: white;
    opacity: 1;
    padding: 0px 15px 0px 15px;
    overflow-x: hidden;
  }

  #openBar {
    position: absolute;
  width: 520px;
    padding: 0px 15px 0px 15px;
    /* top: 1%;
    left: 1%; */
    /* font-size: 3rem; */
    z-index: 999;
    opacity: .9;
  }

}

@media only screen and (max-width: 838px) {
  /* For mobile phones: */
  #info {
    position: absolute;
    height: 100%;
    width: 100%;
    /* top: 1%;
    bottom: 1%;
    left: .5%; */
    z-index: 1000;
    background: #343a40;
    color: white;
    opacity: 1;
    padding: 0px 15px 0px 15px;
    overflow-x: hidden;
  }

  #openBar {
    position: absolute;
    width: 100%;
    padding: 0px 15px 0px 15px;
    /* top: 1%;
    left: 1%; */
    /* font-size: 3rem; */
    z-index: 999;
    opacity: .9;
  }

  #infoMap {
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 66%; */
    z-index: 998;
    background: #343a40;
    color: white;
    opacity: 1;
    /* padding-right: 1%; */
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #infoMapOpen {
    position: absolute;
    height: 100%;
    width: 100%;
    /* left: 66%; */
    z-index: 998;
    background: #343a40;
    color: white;
    opacity: 1;
    /* padding-right: 1%; */
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #infoMapLegend {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    /* bottom: 2%;
    right: .5%; */
    z-index: 999;
    background: transparent;
    color: white;
    opacity: .8;
    padding: 0px 15px 0px 15px;
    overflow-x: hidden;
  }
  .dropdownTitle {
    font-size: 12px;
    position: relative;
    text-align: center;
}
}
@media only screen and (max-width: 570px) {
  /* For mobile phones: */
  .card-deck .card {
      margin-bottom: .0rem;
  }
  .dropdownTitle {
    font-size: 12px;
    position: relative;
    text-align: center;
}
}
